.wait {
    position: absolute;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-left: 500px;
    visibility: hidden;
}
form {
    padding: 5px;
    margin-right: 32%;
    background-color: rgb(176, 153, 198);
    margin-left: 35%;
    border: 1px solid blueviolet;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

button {
    color: azure;
    background-image: linear-gradient(45deg, rgb(127, 75, 176), rgb(128, 95, 158));
    padding: 10px;
    border: 1px solid blueviolet;
}
